In [9]:
import pandas as pd
import os

* Load data to work with

In [10]:
demo = pd.read_csv(os.path.join('s1v4', 'Demographics.csv'))
bmx = pd.read_csv(os.path.join('s1v4', 'BodyMeasures.csv'))
ocp = pd.read_csv(os.path.join('s1v4', 'Occupation.csv'))

In [11]:
demo.describe()

,SEQN,SDDSRVYR,RIDEXMON,RIDAGEYR,RIDAGEMN,RIDAGEEX,RIDRETH2,DMDEDUC,DMDHHSIZ,INDHHINC,...,WTIREP43,WTIREP44,WTIREP45,WTIREP46,WTIREP47,WTIREP48,WTIREP49,WTIREP50,WTIREP51,WTIREP52
count,10586.000000,10375.0,9666.000000,10377.000000,10199.000000,9523.000000,10378.000000,8757.000000,10378.000000,8793.000000,...,10378.000000,10375.000000,10375.000000,10375.000000,10375.000000,10375.000000,10375.000000,10378.000000,10378.000000,10378.000000
mean,4988.601833,1.0,1.578316,29.701262,350.151289,345.017957,2.238293,1.653534,3.928503,7.344820,...,27312.920986,27262.634781,27254.050699,27292.018643,27332.732228,27294.538724,27289.947031,27316.319076,27309.103507,27275.031006
std,2881.766130,0.0,0.493854,24.894062,286.460814,282.898586,1.134821,0.949912,1.775405,8.614497,...,30614.925438,30532.200228,30965.248224,30773.201867,30704.771626,30126.873213,30333.994776,30382.665279,30833.111259,30440.720487
min,1.000000,1.0,1.000000,-69.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2490.250000,1.0,1.000000,11.000000,130.000000,129.000000,1.000000,1.000000,2.000000,4.000000,...,5872.353429,5825.399910,5735.609230,5803.552459,5823.602951,5984.731946,5887.112966,5908.787800,5812.202275,5791.221946
50%,4987.000000,1.0,2.000000,19.000000,231.000000,229.000000,2.000000,1.000000,4.000000,6.000000,...,13365.453053,13125.056383,12602.772205,13053.877621,13179.998615,13405.471918,13272.273365,13479.283290,13078.262881,13483.749560
75%,7490.750000,1.0,2.000000,48.000000,560.500000,549.000000,3.000000,2.000000,5.000000,9.000000,...,39365.839763,39342.944279,39951.418727,39771.643664,39839.701043,39474.064714,39883.193311,39115.824760,39386.954612,39786.020191
max,9965.000000,1.0,2.000000,109.000000,1019.000000,1019.000000,5.000000,9.000000,7.000000,99.000000,...,239320.707004,237571.751507,235750.381473,241834.327204,232738.992025,237147.546794,237076.103694,238360.240849,236648.979858,236964.160656

In [13]:
demo.head()

,SEQN,SDDSRVYR,RIDSTATR,RIDEXMON,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDAGEEX,RIDRETH1,RIDRETH2,...,WTIREP43,WTIREP44,WTIREP45,WTIREP46,WTIREP47,WTIREP48,WTIREP49,WTIREP50,WTIREP51,WTIREP52
0,1,1.0,Exam,2.0,Female,2.0,29.0,31.0,Non-Hispanic Black,2.0,...,10094.017100,9912.461855,9727.078709,10041.524113,9953.955984,9857.381983,9865.152486,10327.992682,9809.165049,10323.315747
1,2,1.0,Both,2.0,Male,77.0,926.0,926.0,Non-Hispanic White,1.0,...,27186.728682,27324.345051,28099.663528,27757.066921,28049.286048,26716.602006,26877.704909,27268.025234,27406.383620,26984.812909
2,3,1.0,Exam,1.0,Female,95.0,125.0,126.0,Non-Hispanic White,1.0,...,43993.193099,44075.386428,46642.563799,44967.681579,44572.482010,44087.945688,44831.370881,44480.987235,45389.112766,43781.905637
3,4,1.0,Both,2.0,Male,1.0,22.0,23.0,Non-Hispanic Black,2.0,...,10702.307249,10531.444441,10346.119327,10636.063039,0.000000,10533.108939,10654.749584,10851.024385,10564.981435,11012.529729
4,5,1.0,Both,2.0,Male,49.0,597.0,597.0,Non-Hispanic White,1.0,...,93164.782430,92119.608772,95388.490406,94131.383538,95297.809952,91325.082461,91640.586117,92817.926915,94282.855382,91993.251203

In [20]:
demo.loc[:,].head()

,SEQN,SDDSRVYR,RIDSTATR,RIDEXMON,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDAGEEX,RIDRETH1,RIDRETH2,...,WTIREP43,WTIREP44,WTIREP45,WTIREP46,WTIREP47,WTIREP48,WTIREP49,WTIREP50,WTIREP51,WTIREP52
0,1,1.0,Exam,2.0,Female,2.0,29.0,31.0,Non-Hispanic Black,2.0,...,10094.017100,9912.461855,9727.078709,10041.524113,9953.955984,9857.381983,9865.152486,10327.992682,9809.165049,10323.315747
1,2,1.0,Both,2.0,Male,77.0,926.0,926.0,Non-Hispanic White,1.0,...,27186.728682,27324.345051,28099.663528,27757.066921,28049.286048,26716.602006,26877.704909,27268.025234,27406.383620,26984.812909
2,3,1.0,Exam,1.0,Female,95.0,125.0,126.0,Non-Hispanic White,1.0,...,43993.193099,44075.386428,46642.563799,44967.681579,44572.482010,44087.945688,44831.370881,44480.987235,45389.112766,43781.905637
3,4,1.0,Both,2.0,Male,1.0,22.0,23.0,Non-Hispanic Black,2.0,...,10702.307249,10531.444441,10346.119327,10636.063039,0.000000,10533.108939,10654.749584,10851.024385,10564.981435,11012.529729
4,5,1.0,Both,2.0,Male,49.0,597.0,597.0,Non-Hispanic White,1.0,...,93164.782430,92119.608772,95388.490406,94131.383538,95297.809952,91325.082461,91640.586117,92817.926915,94282.855382,91993.251203