### Remove duplicates from our data like an animal!

In [64]:
import pandas as pd
import numpy as np
import itertools
import os

In [88]:
demo = pd.read_csv(os.path.join('s2v4','Demographics.csv'))
# bmx = pd.read_csv(os.path.join('s2v4', 'BodyMeasures.csv'))
bmx = pd.read_csv('BodyMeasures.csv')
ocq = pd.read_csv(os.path.join('s2v4', 'Occupation.csv'))

In [66]:
demo.sort_values('SEQN', inplace=True)

In [67]:
i = demo['SEQN'].duplicated(keep=False)

In [68]:
print(f'Duplicated rows: {len(demo.loc[i, :])}')
demo.loc[i, :].head()

Duplicated rows: 1213

,SEQN,SDDSRVYR,RIDSTATR,RIDEXMON,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDAGEEX,RIDRETH1,RIDRETH2,...,WTIREP43,WTIREP44,WTIREP45,WTIREP46,WTIREP47,WTIREP48,WTIREP49,WTIREP50,WTIREP51,WTIREP52
10491,15,1.0,exam,1.0,Female,38.0,459.0,460.0,Non-Hispanic White,1.0,...,110651.142444,109666.993353,113803.429690,33314.865599,113109.089839,108722.224537,109264.251804,110186.143135,112750.496899,110008.647960
14,15,1.0,exam,1.0,Female,38.0,459.0,460.0,Non-Hispanic White,1.0,...,110651.142444,109666.993353,113803.429690,112123.984382,113109.089839,108722.224537,109264.251804,110186.143135,112750.496899,110008.647960
10102,42,1.0,Both,2.0,Female,18.0,223.0,224.0,Non-Hispanic Black,2.0,...,9118.858665,9139.612368,8948.540469,9083.673929,0.000000,9095.898010,9290.163552,9459.795274,9312.800370,9518.027784
9991,42,1.0,Both,2.0,Female,18.0,223.0,224.0,Non-Hispanic Black,2.0,...,9118.858665,9139.612368,8948.540469,9083.673929,0.000000,9095.898010,9290.163552,9459.795274,9312.800370,9518.027784
41,42,1.0,Both,2.0,Female,18.0,223.0,224.0,Non-Hispanic Black,2.0,...,9118.858665,9139.612368,8948.540469,9083.673929,0.000000,9095.898010,9290.163552,9459.795274,9312.800370,9518.027784

In [69]:
demo.drop_duplicates(inplace=True)

In [70]:
i = demo['SEQN'].duplicated(keep=False)
print(f'Duplicated rows: {len(demo.loc[i, :])}')

Duplicated rows: 814

In [71]:
dup_id = demo.loc[i, 'SEQN'].unique()

In [72]:
for id in dup_id:
    dup_rows = np.where(demo['SEQN'] == id)[0]
    for (row1, row2) in itertools.product(dup_rows, repeat=2):
        demo.iloc[row1,:] = demo.iloc[row1,:].fillna(demo.iloc[row2,:], axis=0)

In [73]:
demo.drop_duplicates(inplace=True)
i = demo['SEQN'].duplicated(keep=False)
print(f'Duplicated rows: {len(demo.loc[i,:])}')
demo.loc[i,:].head()

Duplicated rows: 416

,SEQN,SDDSRVYR,RIDSTATR,RIDEXMON,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDAGEEX,RIDRETH1,RIDRETH2,...,WTIREP43,WTIREP44,WTIREP45,WTIREP46,WTIREP47,WTIREP48,WTIREP49,WTIREP50,WTIREP51,WTIREP52
10491,15,1.0,exam,1.0,Female,38.0,459.0,460.0,Non-Hispanic White,1.0,...,110651.142444,109666.993353,113803.429690,33314.865599,113109.089839,108722.224537,109264.251804,110186.143135,112750.496899,110008.647960
14,15,1.0,exam,1.0,Female,38.0,459.0,460.0,Non-Hispanic White,1.0,...,110651.142444,109666.993353,113803.429690,112123.984382,113109.089839,108722.224537,109264.251804,110186.143135,112750.496899,110008.647960
59,60,1.0,Exam,2.0,Male,5.0,70.0,71.0,Non-Hispanic White,1.0,...,41858.569852,41576.241533,43040.796615,43167.384386,42922.779884,41775.622676,0.000000,42091.705803,42039.843678,41556.080118
10392,60,1.0,Exam,1.0,Male,5.0,70.0,71.0,Non-Hispanic White,1.0,...,41858.569852,41576.241533,43040.796615,12698.465159,20321.432353,41775.622676,0.000000,42091.705803,42039.843678,41556.080118
10485,83,1.0,exam,2.0,Female,60.0,731.0,731.0,Non-Hispanic Black,4.0,...,10840.799501,10774.881528,10553.677856,10816.699831,10998.350416,10902.784484,10863.252191,10954.274380,10864.016537,0.000000

In [74]:
i = demo['SEQN'].duplicated(keep=False)
demo = demo.loc[~i,:]

In [75]:
i = demo['SEQN'].duplicated(keep=False)
print(f'Duplicated rows: {len(demo.loc[i,:])}')
demo.loc[i,:].head()

Duplicated rows: 0

Empty DataFrame
Columns: [SEQN, SDDSRVYR, RIDSTATR, RIDEXMON, RIAGENDR, RIDAGEYR, RIDAGEMN, RIDAGEEX, RIDRETH1, RIDRETH2, DMQMILIT, DMDBORN, DMDCITZN, DMDYRSUS, DMDEDUC3, DMDEDUC2, DMDEDUC, DMDSCHOL, DMDMARTL, DMDHHSIZ, INDHHINC, INDFMINC, INDFMPIR, RIDEXPRG, RIDPREG, DMDHRGND, DMDHRAGE, DMDHRBRN, DMDHREDU, DMDHRMAR, DMDHSEDU, WTINT2YR, WTINT4YR, WTMEC2YR, WTMEC4YR, SDMVPSU, SDMVSTRA, SDJ1REPN, DMAETHN, DMARACE, WTMREP01, WTMREP02, WTMREP03, WTMREP04, WTMREP05, WTMREP06, WTMREP07, WTMREP08, WTMREP09, WTMREP10, WTMREP11, WTMREP12, WTMREP13, WTMREP14, WTMREP15, WTMREP16, WTMREP17, WTMREP18, WTMREP19, WTMREP20, WTMREP21, WTMREP22, WTMREP23, WTMREP24, WTMREP25, WTMREP26, WTMREP27, WTMREP28, WTMREP29, WTMREP30, WTMREP31, WTMREP32, WTMREP33, WTMREP34, WTMREP35, WTMREP36, WTMREP37, WTMREP38, WTMREP39, WTMREP40, WTMREP41, WTMREP42, WTMREP43, WTMREP44, WTMREP45, WTMREP46, WTMREP47, WTMREP48, WTMREP49, WTMREP50, WTMREP51, WTMREP52, WTIREP01, WTIREP02, WTIREP03, WTIREP04, WTIREP05, WTIREP06, WTIREP07, WTIREP08, ...]
Index: []

[0 rows x 144 columns]

In [84]:
set(demo.columns).intersection(bmx.columns)

{'SEQN'}

In [77]:
bmx.drop('RIDAGEYR', 1, inplace=True)

In [78]:
set(demo.columns).intersection(bmx.columns)
print(demo.dtypes)
print()
print(bmx.dtypes)

SEQN          int64
SDDSRVYR    float64
RIDSTATR     object
RIDEXMON    float64
RIAGENDR     object
             ...
WTIREP48    float64
WTIREP49    float64
WTIREP50    float64
WTIREP51    float64
WTIREP52    float64
Length: 144, dtype: object

SEQN          int64
BMAEXLEN    float64
BMAEXSTS    float64
BMAEXCMT    float64
BMXWT       float64
BMIWT       float64
BMXRECUM    float64
BMIRECUM    float64
BMXHEAD     float64
BMIHEAD     float64
BMXHT       float64
BMIHT       float64
BMXBMI      float64
BMXLEG      float64
BMILEG      float64
BMXCALF     float64
BMICALF     float64
BMXARML     float64
BMIARML     float64
BMXARMC     float64
BMIARMC     float64
BMXWAIST    float64
BMIWAIST    float64
BMXTHICR    float64
BMITHICR    float64
BMXTRI      float64
BMITRI      float64
BMXSUB      float64
BMISUB      float64
BMAAMP      float64
BMAUREXT    float64
BMAUPREL    float64
BMAULEXT    float64
BMAUPLEL    float64
BMALOREX    float64
BMALORKN    float64
BMALLEXT    float64
BMALLKNE    float64
dtype: object

In [81]:
dataset = pd.merge(demo, bmx, on='SEQN', how='inner')

In [85]:
demo.to_csv('Demographics.csv', index=False)
bmx.to_csv('BodyMeasures.csv', index=False)
ocq.to_csv('Occupation.csv', index=False)
dataset.to_csv('MyDataset.csv', index=False)

In [92]:
io = ocq['SEQN'].duplicated(keep=False)
print(f'Duplicated rows: {len(ocq.loc[io, :])}')

Duplicated rows: 884

In [101]:
dup_ocq_id = ocq.loc[io, 'SEQN'].unique()

ocq.drop_duplicates(inplace=True)

io = ocq['SEQN'].duplicated(keep=False)
print(f'Duplicated rows: {len(ocq.loc[io, :])}')

for id in dup_ocq_id:
    dup_rows = np.where(ocq['SEQN'] == id)[0]
    for (row1, row2) in itertools.product(dup_rows, repeat=2):
        ocq.iloc[row1,:] = ocq.iloc[row1,:].fillna(ocq.iloc[row2,:], axis=0)

Duplicated rows: 158

In [103]:
ocq.drop_duplicates(inplace=True)

In [104]:
io = ocq['SEQN'].duplicated(keep=False)
print(f'Duplicated rows: {len(ocq.loc[io, :])}')

Duplicated rows: 158

In [107]:
io = ocq['SEQN'].duplicated(keep=False)
ocq = ocq.loc[~io,:]

In [119]:
set(demo.columns).intersection(ocq.columns)

{'SEQN'}

In [117]:
ocq.drop('RIAGENDR', 1, inplace=True)

KeyError: "['RIAGENDR'] not found in axis"

In [118]:
set(demo.columns).intersection(ocq.columns)

{'SEQN'}

In [121]:
io = ocq['SEQN'].duplicated(keep=False)
print(f'Duplicated rows: {len(ocq.loc[io, :])}')

Duplicated rows: 0

In [123]:
dataset = pd.merge(dataset, ocq, on='SEQN', how='inner')

In [124]:
ocq.to_csv('Occupation.csv', index=False)
dataset.to_csv('MyDataset.csv', index=False)